<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
<!--  	<link href="login.css" rel="stylesheet">-->
	<link href="{{ url_for('static', filename='signup.css')}}" rel="stylesheet">

</head>
<body>
  <div class="container">
	<!-- code here -->
	<div class="card">
		<div class="card-image">
			<h2 class="card-heading">
				Login
				<small>Enter Your info to Login</small>
			</h2>
		</div>
		<form class="card-form" action="{{ url_for('login') }}" method="post">
            {% if error %}
            <h4 class="card-info" style="color: red; margin: 0px; padding: 0px">wrong username or password</h4>
            {% endif %}
			<div class="input">
				<input name="username" type="text" class="input-field"  required/>
				<label class="input-label">user name</label>
			</div>

			<div class="input">
				<input name="password" type="password" class="input-field" required/>
				<label class="input-label">Password</label>
			</div>
			<div class="action">
				<button class="action-button">Log in</button>
			</div>
		</form>
		<div class="card-info">
			<p>By signing up you are agreeing to our <a href="#">Terms and Conditions</a></p>
		</div>
	</div>
</div>

</body>
</html>